body{
    background-color: #ddd;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
section{
    font-family: sans-serif;
    font-size: 1.2rem;
    width: 922px;
    visibility: visible;
    margin-left: 20px;
    margin-top: 150px;
}
#table{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: transparent;
    grid-template-rows: repeat(7,1fr);
    column-gap: 10px;
    row-gap: 10px;

}
.head{
    background-color: purple;
    color: white;
    font-weight: 700;
}
#table > div {
    padding: 12px;
    text-align: center;
    border-left: 1px solid purple;
    border-top: 1px solid purple;

}

.rightBorder{
    border-right: 1px solid purple;
}
.bottomBorder{
    border-bottom: 1px solid purple;
}

