{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <meta name="description" content="This is an example of a meta description.">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}" >
  </head>
  <body>
   <section>
        <div id="caption"> Translation List</div>
        <div id="table">
          <div class="head" id="1">Requirements</div>
          <div class="rightBorder bottomBorder">Net weight</div>
          <div class="rightBorder bottomBorder">Ingredients</div>
          <div class="rightBorder bottomBorder">Packing date</div>
          <div class="head rightBorder">{{ country.country_codes }}</div>
          <div class="rightBorder bottomBorder">({{ country.country_codes }}{{country.pk}}({{country.pk}}({{country.cookie_set}})))-{{country.country_names}}</div>
          <div class="rightBorder bottomBorder">({{country.t_code_fi}}){{ country.translation_language }}</div>
          <div class="rightBorder bottomBorder">({{country.t_code_tw}}){{country.translation_language_second}}</div>
          {% if country.translation_language_third is not None %}
          <div class="rightBorder bottomBorder">({{country.t_code_th}}){{country.translation_language_third}}</div>
          {% else %}
          <div class="rightBorder bottomBorder">No third data translation data available</div>
          {% endif %}
          {% if country.connected_country_codes is not None and country.connected_language_code is not None and country.connected_cookie_set is not None %}
          <div class="rightBorder bottomBorder">({{country.connected_country_codes}})({{country.connected_cookie_set}}){{country.connected_country_names}}</div>
          <div class="rightBorder bottomBorder">({{country.connected_t_code_fi}}){{country.connected_translation_language}}</div>
          <div class="rightBorder bottomBorder">({{country.connected_t_code_tw}}){{country.connected_translation_language_second}}</div>
          <div class="rightBorder bottomBorder">({{country.connected_t_code_th}}){{country.connected_translation_language_third}}</div>
          {% endif %}
        </div>
   </section>

  </body>
</html>
