{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>My Website</title>
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


<link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    <form action="form">
        <label for="jobnumber">Job number</label>
        <input type="text" name="jobnumber" id="" placeholder="Enter the Job number here"><br><br>
        <label for="itemnumber">Item Number</label>
    <input type="text" name="itemnumber" id="" placeholder="Enter Item Number"><br><br>
        <label for="vc">varient Code</label>
    <input type="text" name="vc" id="" placeholder="Enter the Varient code"><br><br>
        <label for="gridtype">Type of Grid</label>
        <select name="gridtype">
        <option value="">Standard Pack</option>
        <option value="">Selection Pack</option>
        </select><br><br>
        <label for="cst">Countries shipped to</label>
        <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select
        </button>
        <ul class="dropdown-menu">
        {% for j in cd %}
        {% if j.connected_country_names is not None %}
        <li><a class="dropdown-item" href="{% url 'detail' j.pk %}">{{ j.country_names }}-{{j.connected_country_names}}</a></li>
        {% else %}
            <li><a class="dropdown-item" href="{% url 'detail' j.pk %}">{{ j.country_names }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
        </div>
        <button type="submit">Submit form</button>
        </form>
        <br>
        <br>
    <section>
        <div id="caption"> Translation List</div>
        <div id="table">
            <div class="head" id="1">Requirements</div>
            {% for k in cd %}
            <div class="head rightBorder">{{k.country_codes}}</div>
            {% endfor %}
       <div class="rightBorder bottomBorder">Legal Requirements</div>
        <div class="rightBorder bottomBorder">Size restriction</div>
        <div class="rightBorder bottomBorder">The word Ingredient</div>
        <div class="rightBorder bottomBorder">Ingredients</div>
        <div class="rightBorder bottomBorder">Net Weight</div>
        <div class="rightBorder bottomBorder">Packing Date</div>
        <div class="rightBorder bottomBorder">Best Before</div>
        {% for i in cd %}
        <div class="rightBorder bottomBorder">({{ i.language_code }}{{ i.pk }}({{i.pk}}({{i.cookie_set}}){{i.language_name}} {% if i.connected_country_names is not None %} {{i.connected_country_names}} {% else %} {% endif %}</div><br>
        {% endfor %}
        <div class="rightBorder bottomBorder">NW {% for u in cd %} {% if u.t_alt_code_fi is not None %} {{u.t_alt_code_fi}} {% endif %}{% endfor %}<br>{% for l in cd %}{% if l.country_names in RUSSIA  %}{{l.t_alt_code_fi}}}{%endif%}{% endfor %}<br>{% for y in cd %}{% if y.country_names in SPAIN  %}{{y.t_alt_code_fi}}}{% endif %}{% endfor %}</div>
        <div class="rightBorder bottomBorder"> PD {% for r in cd %} {% if r.t_alt_code_tw is not None %}  {{r.t_alt_code_tw}}<br> {% endif %} {% endfor %}</div>
        <div class="rightBorder bottomBorder"> Bestbefore {% for r in cd %} {% if r.t_alt_code_th is not None %}  {{r.t_alt_code_th}}<br> {% endif %} {% endfor %}</div>
        </div>
    </section>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>
